*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: gray;
    
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #1a1a2e;
    color: white;
}
 
section{
     padding: 60px 40px;
     max-width: 900px;
     margin: 0 auto;
     background-color: whitesmoke;
}

section h2{
     margin-bottom: 20px;
     color: #1a1a2e;
    
}
 
#about p{
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    color: #333;
    margin-bottom: 20px;

}

#hero{
    text-align: center;
    padding: 80px 20px;
    background-color:#050524;
    max-width: 100%;
}

#hero h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: whitesmoke;

}
#hero p {
    color: #f4f4f9;

}

#skills ul{
    list-style: none;
}

#skills li{
    display: inline-block;
    background-color:transparent;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px ;

}

.project-card{
     border: 1px solid #ddd;
     border-radius: 8px;
     padding: 20px;
     margin-bottom: 20px;
}

#contact a{
    color: #1a1a2e;
    font-weight: bold;
    text-decoration: none;
}

#contact a:hover{
    text-decoration: underline;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.typing{
    display:inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    width: 0;
    animation: typing 3s steps(24,end)
    forwards,
           

}

@keyframes typing{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}